<div id="<%= dom_id idea %>">
  <p>
    <strong class="label">Name:</strong>
    <%= idea.name %>
  </p>

  <p>
    <strong class="label">Descrption:</strong>
    <%= idea.descrption %>
  </p>

  <p>
    <strong class="label">Picture:</strong>
    
    <%= image_tag(idea.picture_url, width: 600) if idea.picture? %>
  </p>

</div>
