<div id="<%= dom_id idea %>">
  <p>
    <strong>Name:</strong>
    <%= idea.name %>
  </p>

  <p>
    <strong>Descrption:</strong>
    <%= idea.descrption %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= idea.picture %>
  </p>

</div>
