<p style="color: green"><%= notice %></p>

<h1>Ideas</h1>

<div id="ideas">
  <% @ideas.each do |idea| %>
    <%= render idea %>
    <p>
      <%= link_to "Show this idea", idea %>
    </p>
  <% end %>
</div>

<%= link_to "New idea", new_idea_path %>
<h1>This is my header!</h1>

<ul>
	<li>Here's an item in a list</li>
<li>Another list item, but with <a href="www.freeagent.com">a link</a></li>
</ul>

<button>OK, cool</button>
