/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
    color: #0069BF;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    margin: 200;
}
.label {
    color: #FFE238;
    font-size: 23px;
}
#name-label {
    color: #05DBBA;


}
img {
    width: 200;
    margin: auto;
    display: block;
    padding: 20px;
}
#ideas {
        padding: 10px;
        text-align: center;
        margin: 10px 0px;
      }
      h1 {
        color: #05DBBA;
        text-align: center;
        padding: 60px 0px;
        margin: 0px;
        background-color: #2B3840;
      }
      
      #ideas a {
        font-size: 16px;
        color: #05DBBA;
        background-color: #2B3840;
        padding: 15px;
        border-radius: 30px;
      }
      footer {
        color: #05DBBA;
        text-align: center;
        padding: 100px 0px;
        margin: 0px;
        background-color: #2B3840;
      }
      footer a {
        font-size: 30px;
        color: #FFE238;
      }

      a:hover {color: purple;}
            